.popup__error {
    margin: 0 0 1px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    visibility: hidden;
    min-height: 30px;
}

.popup__error:last-of-type {
    margin: 0 0 18px 0;
}