@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(./fonts/Inter-Regular.ttf) format('tryetype'),
        url(./fonts/Inter-Regular.woff) format('woff'),
        url(./fonts/Inter-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url(./fonts/Inter-Medium.woff2) format("woff2"),
         url(./fonts/Inter-Medium.woff) format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url(./fonts/Inter-Black.woff2) format("woff2"),
         url(./fonts/Inter-Black.woff) format("woff");
  }

.page {
    background-color: black;
    font-family: 'Inter';
    color: white;
}

.wrapper {
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
}

.header {
    padding-top: 45px;
}

.header__logo {
    background: url(./images/logo.svg);
    width: 142px;
    height: 33px;
}

.header__decoration-line {
    margin-top: 41px;
    border: 1px solid #545454;
}

.profile {
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__avatar {
    background: url(./images/avatar.jpg) no-repeat center;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__info {
    display: flex;

}

.profile__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.profile__name {
    display: flex;
    font-size: 42px;
    line-height: 48px;
}

.profile__edit-btn {
    background: url(./images/edit-btn.svg);
    width: 24px;
    height: 24px;
    align-self: center;
    margin-left: 18px;
}

.profile__about {
    font-size: 18px;
    line-height: 22px;
}

.profile__add-btn {
    background: url(./images/add-btn.svg);
    height: 50px;
    width: 150px;
}

.place-card {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    border-radius: 10px;
    overflow: hidden;
}

.place-card__image {
    max-width: 282px;
    min-height: 282px;
}

.place-card__image_place_karachaevsk {
    background: url(./images/cards/karachaevsk.jpg) center/100%;
}

.place-card__image_place_elbrus {
    background: url(./images/cards/elbrus.jpg) center/100%;
}

.place-card__image_place_dombai {
    background: url(./images/cards/dombai.jpg) center/100%;
}

.place-card__image_place_karelia {
    background: url(./images/cards/karelia.jpg) center/100%;
}

.place-card__image_place_murmansk {
    background: url(./images/cards/murmansk.jpg) center/100%;
}

.place-card__image_place_spb {
    background: url(./images/cards/saint-petersburg.jpg) center/100%;
}

.place-card__info {
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 79px;
    align-items: center;
    padding: 0 21px;
}

.place-card__title {
    color: black;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
}

.place-card__like-btn {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(./images/cards/like.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}