.page {
    background-color: black;
}
.wrapper {
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
}

.header {
    padding-top: 45px;
}
.header__logo {
    background: url(./images/logo.svg);
    width: 142px;
    height: 33px;
}
.header__decoration-line {
    margin-top: 41px;
    border: 1px solid #545454;
}

.profile {
    padding-top: 36px;
}
.profile__avatar {
    background: url(./images/avatar.jpg) no-repeat center;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    object-fit: cover;
}
.profile__text {
}
.profile__name {
}
.profile__edit-btn {
}
.profile__about {
}
.profile__add-btn {
}