.popup__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
    max-width: 358px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}