.places-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    padding: 47px 0 0 0;
    justify-items: center;
}

@media screen and (max-width: 700px) {
    .places-grid {
        padding: 36px 0 0 0;
    }
}