.popup__about {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 525px) {
    .popup__about {
        margin-bottom: 45px;
    }
}